.vermelho {
width: 100vw;
height: 100px;
background-color: red;
}

.amarelo {
width: 100vw;
height: 100px; 
background: yellow;
}

.verde {
width: 100vw;
height: 100px; 
background: green;
} 

.cor-linha{
  color: green;
  font-style: italic;
}
.centralizado {
  text-align: center;
}

.roxo {
width: 100vw;
height: 100px; 
background: purple; }
.alinhados{
  display: flex;
}